*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}



body {
    margin: 0;
    padding: 0;
	font-family: 'Fjalla One', "Noto Sans KR", sans-serif, serif, Helvetica;
    text-align: left;
    font-size: 1.5em;
    color: white;
    letter-spacing: 0.2px;
    line-height: 1.6;
    word-break: break-all;
    background-color: white;
}


.scroll::-webkit-scrollbar {
    display: none;
}



/*네비게이션********************************************/
.wrapper-nav {
    width: 1000px;
    margin: auto;
    background: black;
    padding: 12px;
    display: flex;       /*가로배열*/
    justify-content: space-between; /*가로배열*/
}

.titlelogo {
    width: 32px;
    margin-right: 5px;
    margin-bottom: -2px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: white;
}


li {
    list-style-type: none;   /* 리스트 기호 없애기*/

}



a {
    text-decoration-line: none;  /*하이퍼링크 줄 없애기*/
    display: block;
    color: white;
    padding: 3px 10px;  /*양 옆*/
    line-height: 40px;  /*높이*/
}

a:hover {
    color: rgb(112, 112, 112);
    transition: all 1s;  /*애니메이션*/
}


.menu {
    font-size: 16px;
    display: flex;
}
/*네비게이션****************************************************/

@media screen and (max-width: 600px) {

    .titlelogo {
        width: 24px;
        margin-right: 5px;
        margin-bottom: -2px;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        cursor: help;
        color: white;
    }
}










/*이미지********************/

.image1 {
    width: 100%;
}

.image-logo {
    width: 100%;
}


.image {
    width: 100%;
    z-index: -20;

}

.image-human {
    width: 50%;
    z-index: 20;
    position: absolute;
    left: 250px;
    top: 180px;

}







/*마우스 오버*/
#mute-btn1:hover {
    color: white;
}


#mute-btn2:hover {
    color: white;
}






/*글자 마진값 초기화*/
h1, p { margin: 0; }


.section-2-h2{
    font-size: 2em;
}




/*컨테이너*/
.wrap {
    margin: 0 auto;
    max-width: 1000px;
    position : relative;
}


/*미디어쿼리 했을 때의 마진,,,*/
.item {
    padding: 5%;
}


/*규격*/
.item.item-a {
    background-color: blue;
    color: white;
}

.item.item-b {
    background-color: rgb(255, 0, 187);
    color: black;
}

.item.item-c {
    background-color: black;
    color: white;
}

.item.item-d {
        background-color: #33F709;
        color: black;
}






/*
@media screen and (min-width: 600px) {
    .container {
        font-size: 0; 
    }
    .item {
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        padding: 2%;
    }
    
    .item-a {
        width: 50%;
    }
    .item-b {
        width: 50%;
    }

    .item-c {
        width: 100%;
    }
}
*/




footer {
    font-size: 8px;
    text-align: center;
    padding: 40px;
    background-color: black;
    color: white;
    display: block;
}